<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block header %}
            <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top" id="navbar">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <div class="row">
                            <div class="col-12">
                                <ul class="navbar-nav me-auto">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="{{path('app_pages_index')}}"><strong>ACCUEIL</strong></a>
                                    </li>
                                    {{render(controller('App\\Controller\\PublicController::menu'))}}
                                </ul>
                            </div>
                        </div>
                    <ul class="navbar-nav " >
                    {% if app.user %}
                        <!-- Dropdown menu, displayed when the user is logged in -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><img src="https://e7.pngegg.com/pngimages/213/343/png-clipart-computer-icons-user-background-icon-cdr-monochrome-thumbnail.png" alt="User Icon" width="30" height="30"></a>
                        <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{path('app_admin_dashboard_index')}}"><strong>DASHBOARD</strong></a></li>
                            <li><a class="dropdown-item" href="{{path('app_logout')}}"><strong>SE DECONNECTER</strong></a></li>
                        </ul>
                    {% else %}
                        <!-- Login button, displayed when the user is not logged in -->
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{path('app_admin_dashboard_index')}}"><strong>SE CONNECTER</strong></a>
                    </li>
                    {% endif %}
            </div>
        </div>
    </nav>
{% endblock %}

<main>
{% block main %}

{% endblock %}
</main>

{% block footer %}
 <footer class="container-fluid mb-5">
    <div class="row">
        <div class="col-12">
            <p class="text-center mb-0">
                <img src="https://th.bing.com/th/id/OIG.a5RinaWnGi01zmeCeRB5?w=270&h=270&c=6&r=0&o=5&pid=ImgGn" alt="logoMohamed">
            </p>
        </div>
    </div>
 </footer>
{% endblock %}
</body>
</html>
