<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </head>
    <body>
        {% block header %}
            <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top" id="navbar">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <div class="row">
                            <div class="col-12">
                                <ul class="navbar-nav me-auto">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="{{path('app_pages_index')}}"><strong>ACCUEIL</strong></a>
                                    </li>
                                    {{render(controller('App\\Controller\\PublicController::menu'))}}
                                </ul>
                            </div>
                        </div>
                    <ul class="navbar-nav " >
                    {% if app.user %}
                        <!-- Dropdown menu, displayed when the user is logged in -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><img src="https://e7.pngegg.com/pngimages/213/343/png-clipart-computer-icons-user-background-icon-cdr-monochrome-thumbnail.png" alt="User Icon" width="30" height="30"></a>
                        <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{path('app_admin_dashboard_index')}}"><strong>DASHBOARD</strong></a></li>
                            <li><a class="dropdown-item" href="{{path('app_logout')}}"><strong>SE DECONNECTER</strong></a></li>
                        </ul>
                    {% else %}
                        <!-- Login button, displayed when the user is not logged in -->
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{path('app_admin_dashboard_index')}}"><strong>SE CONNECTER</strong></a>
                    </li>
                    {% endif %}
            </div>
        </div>
    </nav>
{% endblock %}

<main>
{% block main %}

{% endblock %}
</main>

{% block footer %}
    <footer id="footer" class=" mt-5">
        <div class="row">
            <center>
                <div class="col-3">
                    <img src="https://th.bing.com/th/id/OIG.a5RinaWnGi01zmeCeRB5?w=270&h=270&c=6&r=0&o=5&pid=ImgGn" class="img-thumbnail" alt="...">
                </div>
                <div class="col-9">
                    <p><strong>©</strong> Maaouia Industry 2024</p>
                </div>
            </center>
        </div>
    </footer>
{% endblock %}
</body>
</html>
